<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>About</title>
</head>
<body>
    <h1>About Coffee Compendium</h1>
    <p>The quintessential coffee creation app -- conjure up caffeinated constructions, keep count of characteristics, compile and compare concoctions, not counting cocktails! </p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium nobis animi eveniet minima veniam? Debitis maxime aut, animi ad recusandae ullam ab magni quidem doloremque repellat, totam, consequatur et nemo?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus quisquam sapiente nemo quaerat fugiat ut iure suscipit! Voluptas tempora, libero amet tempore, labore quidem commodi, iste accusamus molestiae voluptatum deserunt. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum natus hic tempore totam ea deleniti et, est placeat quasi, animi amet facilis, aperiam officia eius dolorum dolorem. Distinctio, odit sequi.</p>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/drinks">Coffee Compendium 1.0</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/drinks">Home</a></li>
            <li><a href="/drinks/new">Create a New Coffee Drink</a></li>
            <li><a href="/drinks/about">About</a></li>
          </ul>
        </div>
      </nav>
      <br/>
      <br/>
      <br/>
      <br/>
      <a href="/drinks" class = "button">Back</a>
</body>
</html>