<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
        <title>Coffee Drink | Edit Properties</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="#">Logo</a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="/drinks">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="/drinks/new">Create</a></li>
                </ul>
              </div>
            </div>
          </nav>
        <h1>Edit Drinks</h1>
        <form action="/drinks/<%=coffee.id%>?_method=PUT" method="POST">
            Name: <input type="text" name="name" value="<%=coffee.name%>"/><br/>
            Type: <input type="text" name="alternate_names" value="<%=coffee.alternate_names%>"/><br/>
            Country of Origin: <input type="text" name="country_of_origin" value="<%=coffee.country_of_origin%>"/><br/>
            <input type="submit" name="" value="Submit Changes"/>
        </form>
        <br/>
        <a href="/drinks">Back to Main Page</a>
    </body>
</html>