<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
        <title>Coffee Drinks | Create</title>
    </head>
    <body>
        <h1>Create a Drink</h1>
        <h3>Fill in the fields:</h3>
        <form action="/drinks" method="POST">
            <input type="text" name="name" placeholder="name" /><br/>
            <input type="text" name="alternate_name" placeholder="alternate name(s)" /><br/>
            <input type="text" name="country_of_origin" placeholder="country of origin" /><br/>
            <input type="text" name="type" placeholder="type" /><br/>
            <input type="text" name="coffee_base" placeholder="coffee base" /><br/>
            <input type="text" name="main_ingredients" placeholder="main ingredients" /><br/>
            <input type="text" name="similar_drinks" placeholder="similar drinks" /><br/>
            <input type="text" name="preparation" placeholder="preparation" /><br/>
            <input type="text" name="taste" placeholder="taste" /><br/>
            <input type="text" name="notes" placeholder="notes" /><br/>
            <input type="text" name="img" placeholder="image" /><br/>
            <input type="submit" value="Create Drink"/>
        </form>
    </body>
</html>
