<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
        <title>Coffee Drinks | Create</title>
    </head>
    <body>
        <h1>Create a Drink</h1>
        <h3>Fill in the fields:</h3>
        <form action="/drinks" method="POST">
            <input type="text" name="name" placeholder="name" /><br/>
            <input type="text" name="alternate_name" placeholder="alternate name(s)" /><br/>
            <input type="text" name="country_of_origin" placeholder="country of origin" /><br/>
            <input type="text" name="type" placeholder="type" /><br/>
            <input type="text" name="coffee_base" placeholder="coffee base" /><br/>
            <input type="text" name="main_ingredients" placeholder="main ingredients" /><br/>
            <input type="text" name="similar_drinks" placeholder="similar drinks" /><br/>
            <input type="text" name="preparation" placeholder="preparation" /><br/>
            <input type="text" name="taste" placeholder="taste" /><br/>
            <input type="text" name="notes" placeholder="notes" /><br/>
            <input type="text" name="img" placeholder="image (url)" /><br/>
            <br/>
            <input type="submit" value="Create Drink"/>
        </form>
        <br/>
        <br/>
        <br/>
        <br/>
        <nav class="navbar navbar-inverse navbar-fixed-bottom">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/drinks">Coffee Compendium 1.0</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="/drinks">Home</a></li>
              <li><a href="/drinks/new">Create a New Coffee Drink</a></li>
              <li><a href="/drinks/about">About</a></li>
            </ul>
          </div>
        </nav>
    </body>
</html>
