img {
    width: 25%;
}
/*only home icons enlarge upon hover*/
.homepics:hover {
    width:26%;
}

body {
    text-align: center;
    font-family: 'Alegreya SC', serif;
    background-color: cornsilk;
}

@media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;

}

a:link {
    color: saddlebrown;
}

a:hover {
    color: black;
}

a:visited {
    color: darkslategray;
}

.btn-primary {
    color: darkslategray;
    background-color: navajowhite;
}

.btn-info:hover {
    background-color: black;
}

p {
    color: saddlebrown;
}

.mini nav {
    padding: 20px;
}