img {
    width: 25%;
}
/*only home icons enlarge upon hover*/
.homepics:hover {
    width:26%;
}

body {
    text-align: center;
    font-family: 'Alegreya SC', serif;
    background-color: cornsilk;
}

/*media queries*/
@media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
    img {min-width: 45%}
}

@media screen and (min-width: 320px) and (max-width: 999px) {
    table {font-size: 40px; min-width: 60%}
    p:not(.aboutText) {font-size: 40px; min-width: 60%}
    h3 {font-size: 30px;}
    .navbar {font-size: 30px; position: fixed;}
    img {min-width: 220px;}
}



.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

a:link {
    color: saddlebrown;
}

a:hover {
    color: black;
}

a:visited {
    color: darkslategray;
}

.btn-primary {
    color: darkslategray;
    background-color: navajowhite;
}

.btn-info:hover {
    background-color: black;
}

p {
    color: saddlebrown;
}

.mini nav {
    padding: 20px;
}

.pull-right {
    float: right;
} 